
<div class="account__page">
    <div class="container-xl">
        <h1 class="account__title">Cập nhật tài khoản</h1>
        <div class="account__information">
            <h3 class="account__info-title">Thông tin</h3> 
            <form (submit)="saveData()" [formGroup]="infoForm" class="form">
                <input type="hidden" formControlName="Id">
                <input type="hidden" formControlName="UserName">
                <input type="hidden" formControlName="Email">
                <input type="hidden" formControlName="roles">
                <div class="block">
                    <label for="name" class="label"><p>Họ tên</p></label>
                    <input formControlName="name" type="text" class="input">
                    <span class="error" *ngIf="infoForm.get('name').touched && 
                    infoForm.get('name').hasError('required')">Xin hãy nhập tên</span>
                </div>
                <div class="block">
                    <label for="PhoneNumber" class="label"><p>Số điện thoại</p></label>
                    <input formControlName="PhoneNumber" type="text" class="input">
                    <span class="error" *ngIf="infoForm.get('PhoneNumber').touched && 
                    infoForm.get('PhoneNumber').hasError('required')">Xin hãy nhập số điện thoại của bạn</span>
                    <span class="error" *ngIf="infoForm.get('PhoneNumber').touched && 
                    infoForm.get('PhoneNumber').hasError('pattern')">Số điện thoại không hợp lệ</span>
                </div>
                <div class="block">
                    <label for="avatar" class="label"><p>Avatar</p>

                    </label>
                    <input type="file" class="input" #avatar name="avatar">
                    <input type="hidden" formControlName="avatar">
                  </div>
                <div class="block">
                    <label for="description" class="label"><p>Giới thiệu</p></label>
                    <textarea formControlName="description" type="text" class="input"></textarea>
                </div>
                <div class="block">
                    <label for="address" class="label"><p>Địa chỉ</p></label>
                    <input formControlName="address" type="text" class="input">
                </div>
                <div class="block">
                    <label class="label"><p>Tỉnh/Thành phố</p></label>
                    <select class="input" formControlName="province_id">
                        <option [value]="null" [disabled]="true" >--- Chọn tỉnh/thành phố ---</option>
                        <option [value]="item.province_id" *ngFor="let item of provinceList">{{item.name}}</option>
                    </select>
                </div>
                <button class="btn btn-save" type="submit">Lưu thay đổi</button>
            </form>
            <h3 class="account__info-title">Đổi mật khẩu</h3>
            <form action="changePasswordForm" [formGroup]="passwordForm" class="form">
                <div class="block">
                    <label for="password" class="label"><p class="must">*</p>Mật khẩu hiện tại</label>
                    <input formControlName="oldPassword" type="password" class="input">
                </div>
                <div class="block">
                    <label for="first-name" class="label"><p class="must">*</p>Mật khẩu mới</label>
                    <input formControlName="Password" type="password" class="input">
                    <p class="instruction">Mật khẩu từ 6-32 ký tự, có ít nhất 1 kí tự chữ, 1 kí tự số</p>
                </div>
                <div class="block">
                    <label for="last-name" class="label"><p class="must">*</p>Nhập lại mật khẩu mới</label>
                    <input formControlName="rePassword" type="password" class="input">
                </div>
                <button class="btn btn-save">Lưu thay đổi</button>
            </form>
        </div>
    </div>
</div>