
<section id="credit">
    <div class="grid wide">
        <div class="credit__container">
            <div class="credit__content">
                <p>© 2021 JobOfferer. Bản quyền thuộc về Đỗ Hữu Hải Long. Mọi hành
                    vi
                    sao chép đều là phạm pháp nếu không có sự cho phép bằng văn bản của chúng tôi.</p>
                <p>Số nhà 11E, ngách 206/2, ngõ 206, đường Cổ Linh, phường Long Biên, quận Long Biên, Hà Nội
                    Email: dohuuhailong@gmail.com Số điện thoại: 0852220900.</p>
            </div>
        </div>
    </div>
</section>